@import './Sidebar.scss';
@import './Header.scss';
@import './Footer.scss';
@import './WriteArticle.scss';

body {
    font-family: Arial, sans-serif;
    background: #dce1df;
    color: #4f585e;
    margin: 0;
}

.default_layout,
.not_found_layout {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: scroll;
}

.contents {
    margin: auto;
    width: 100%;
    margin: auto;
    max-width: 1024px;
    text-align: -webkit-center;
    overflow: initial;
    padding-top: 40px;
    margin-bottom: 0px;
}

.full {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

@media (min-width: 48em) {

    .default_layout,
    .not_found_layout {
        display: flex;
        overflow-y: hidden;
    }

    .contents {
        padding-top: 0px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}