.v--modal {
    padding: 10
}

.alert_modal .alert_contents {
    margin: auto;
    padding: 10;
    font-size: 1em;
    font-weight: 600;
    color: darkgray;
    text-align: center;
}

.alert_modal .alert_confirm {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 4px;
}