.sidebar {
    background-color: #444845;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 3;
    color: #e4e4e4;
    position: fixed;
    overflow-y: visible;
}

.sidebar li.category {
    background: cadetblue;
}

.sidebar .search {
    height: 24px;
}

.sidebar .search input {
    margin: 2px;
    width: 100%;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #444845;
}

.sidebar li {
    display: flex;
    position: relative;
}

.sidebar li .noti {
    position: absolute;
    right: 0;
    width: 20px;
    height: auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    padding: 4px;
}

.sidebar li.active {
    background-color: #DB5A48;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.sidebar li a {
    display: block;
    padding: 11px 20px 9px 20px;
    text-decoration: none;
    font-size: 0.8em;
}

.sidebar li.category a {
    font-size: 1em;
}

.sidebar .logo {
    display: block;
    float: left;
    font-size: 1.2em;
    padding: 9px 0px 5px 12px;
    text-decoration: none;
    text-align: center;
}

.sidebar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    overflow-y: scroll;
}

.sidebar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 17.5px 10px;
    position: relative;
    user-select: none;
}

.sidebar .menu-icon .navicon {
    background: #e4e4e4;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.sidebar .menu-icon .navicon:before,
.sidebar .menu-icon .navicon:after {
    background: #e4e4e4;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.sidebar .menu-icon .navicon:before {
    top: 5px;
}

.sidebar .menu-icon .navicon:after {
    top: -5px;
}

.sidebar .menu-btn {
    display: none;
}

.sidebar .menu-btn:checked~.menu {
    max-height: 332px;
}

.sidebar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.sidebar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.sidebar .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.sidebar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.sidebar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 48em) {
    .sidebar {
        width: 14em;
        height: 100%;
        position: fixed;
    }

    .sidebar ul {
        width: 100%;
    }

    .sidebar li {
        float: left;
        width: 100%;
    }

    .sidebar .menu {
        clear: none;
        float: left;
        max-height: calc(100% - 60.5px);
        overflow-y: auto;
    }

    .sidebar .menu-btn:checked~.menu {
        max-height: calc(100% - 60.5px);
    }

    .sidebar .menu-icon {
        display: none;
    }
}