.datepicker input {
    width: 85px;
    text-align: center;
    height: 30px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 4px;
    font-size: 0.8em;
}

.date_box {
    text-align: center;
    display: none;
}

.article {
    border-radius: 5px;
    border-style: groove;
    box-shadow: 2px 2px 2px #00000044;
    border-width: thin;
    background: whitesmoke;
    display: flex;
    position: relative;
    margin: 5;
}

.article .article_detail {
    width: 100%;
    padding: 4px;
}

.article .article_detail textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 4px;
}

.article .article_detail input {
    width: 100%;
    height: 22px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1em;
}

.article .article_tags {
    display: flex;
    width: 100%;
    // max-width: 240px;
    height: 20px;
}

.article .set_button {
    width: 40px;
    min-width: 40px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 4px;
    height: 85;
}

.article .star_button {
    width: 40px;
    min-width: 40px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 4px;
    height: 85;
    background-color: crimson;
    display: none;
}

.article .set_button button {
    background-color: deepskyblue;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 800;
    font-size: 0.8em;
}

.tag {
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1em;
    height: 18px;
}

.article_tags .tag {
    padding: 2px;
    padding-bottom: 0px;
    display: flex;
    padding: 2px;
    padding-bottom: 0px;
    padding-right: 1px;
    display: flex;
    margin-right: 4px;
}

.tag .tag_button {
    width: 16px;
    height: 16px;
    margin: 1px;
    padding: 0;
    font-size: 0.8em;
    margin-left: 4px;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-top: 0;
}

.article :disabled {
    background: transparent;
}

.done_check_box {
    width: 70px;
    height: auto;
    background-position-x: 12px;
    background-position-y: 20px;
    background-repeat: no-repeat;
    background-image: url(~assets/box.svg);
    margin-left: 10px;
    font-size: 0.8em;
    padding-top: 68px;
    text-align: center;
}

.done_check_box.active {
    width: 70px;
    height: auto;
    background-position-x: 12px;
    background-position-y: 20px;
    background-repeat: no-repeat;
    background-image: url(~assets/done.svg);
}


@media (min-width: 48em) {
    .article .star_button {
        display: block;
    }

    .article .date_box {
        display: block;
    }
}

.star {
    fill: #ADADAD;
    transition: fill 200ms;
    position: absolute;
    height: 34px;
    width: 34px;
    margin-left: 3px;
    margin-top: 24px;
}

.star.active {
    fill: #FFA600;
    animation: fav 600ms ease;
}

@keyframes fav {
    70% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}